<!DOCTYPE html>
{%  load static from staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>List for recommendation</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">List for Recommendation
                    <div style="text-align: right">
                        <small>Priority</small>
                        <input type="radio" name="category" id="Size" onclick="showGraph('Size')"><span style="font-style: normal; font-size: 0.5em;"> Size </span>
                        <input type="radio" name="category" id="Delivery" onclick="showGraph('Delivery')"><span style="font-style: normal; font-size: 0.5em;"> Delivery </span>
                        <input type="radio" name="category" id="Price" onclick="showGraph('Price')"><span style="font-style: normal; font-size: 0.5em;"> Price </span>
                        <input type="radio" name="category" id="Extra" onclick="showGraph('Extra')"><span style="font-style: normal; font-size: 0.5em;"> Extra </span>
                    </div>
                </h1>

            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src={{ products.0.image_file.url }} alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h2>추천 1 순위</h2>
                <h4>상품 번호 : {{ products.0.pk }}</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="btn btn-primary" href="http://52.78.128.31/search_product/?product_number={{ products.0.pk }}">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src={{ products.1.image_file.url }} alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h2>추천 2 순위</h2>
                <h4>상품 번호 : {{ products.1.pk }}</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
                <a class="btn btn-primary" href="http://52.78.128.31/search_product/?product_number={{ products.1.pk }}">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src={{ products.2.image_file.url }} alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h2>추천 3 순위</h2>
                <h4>상품 번호 : {{ products.2.pk }}</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
                <a class="btn btn-primary" href="http://52.78.128.31/search_product/?product_number={{ products.2.pk }}">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src={{ products.3.image_file.url }} alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h2>추천 4 순위</h2>
                <h4>상품 번호 : {{ products.3.pk }}</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?</p>
                <a class="btn btn-primary" href="http://52.78.128.31/search_product/?product_number={{ products.3.pk }}">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src={{ products.4.image_file.url }} alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h2>추천 5 순위</h2>
                <h4>상품 번호 : {{ products.4.pk }}</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.</p>
                <a class="btn btn-primary" href="http://52.78.128.31/search_product/?product_number={{ products.4.pk }}">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->

        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>AngelsWeb</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'app/vendor/jquery/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
    <script type="text/javascript">

        $(document).ready(function() {

        });

        function showGraph(id)
        {
            if(id == "Size") {
                location.href = 'http://52.78.128.31/search_keyword_product/?product_keyWord={{ products.0.title }}'+ 'Size';
            }
            else if(id == "Delivery"){
                location.href = 'http://52.78.128.31/search_keyword_product/?product_keyWord={{ products.0.title }}'+ 'Delivery';
            }
            else if(id == "Price"){
                location.href = 'http://52.78.128.31/search_keyword_product/?product_keyWord={{ products.0.title }}'+ 'Price';
            }
            else if(id == "Extra"){
                location.href = 'http://52.78.128.31/search_keyword_product/?product_keyWord={{ products.0.title }}'+ 'Extra';
            }
        }
    </script>
</html>
